@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$yellow: #FFD369;
$white: #EEEEEE;
$gray: #333333;
$dark-gray: #151515;

$primary-font: 'Koulen', cursive;
$text-font: 'Montserrat', sans-serif;

body {
    background-color: $gray;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: $white;
}

html, body { height: 100%; }
body { margin: 0; font-family: $primary-font; }
