<section class="flex flex-row justify-start mx-5 lg:mx-20">
    <h1 class="text-6xl text-yellow mx-4 my-4 lg:mx-14 lg:my-10 lg:mt-24">TV Shows</h1>
    <img src="../../../assets/arrow-down.svg" alt="More options" width="30" class="options-icon"
        (click)="toggleOptions()" *ngIf="isMobile" />

    <div *ngIf="showOptions || !isMobile"
        class="flex flex-col items-start absolute top-40 bg-gray w-full text-2xl ml-4 lg:flex-row lg:justify-evenly lg:w-3/4 lg:top-28 lg:right-0 lg:bg-transparent z-10">
        <button [ngClass]="menuOptionSelected === 'popular' ? 'text-yellow overline' : 'text-white'"
            (click)="selectKind('popular')">Popular</button>
        <button [ngClass]="menuOptionSelected === 'top_rated' ? 'text-yellow overline' : 'text-white'"
            (click)="selectKind('top_rated')">Top Rated</button>
        <button [ngClass]="menuOptionSelected === 'on_the_air' ? 'text-yellow overline' : 'text-white'"
            (click)="selectKind('on_the_air')">On the Air</button>
        <button [ngClass]="menuOptionSelected === 'browse_by_genre' ? 'text-yellow overline' : 'text-white'"
            (click)="toggleGenresMenu()">Browse by genre</button>
    </div>

    <div class="hidden flex flex-col flex-wrap bg-gray text-lg absolute h-[19rem] w-[20rem] top-36 left-8 justify-start p-2 lg:w-96 lg:top-40 lg:left-2/3 border border-solid border-yellow z-10"
        [class.hidden]="!genresMenu" (click)="toggleOptions()">
        
        <div class="h-full p-1 cursor-pointer">
            <img src="../../../assets/close.svg" alt="Close" width="15" (click)="toggleGenresMenu()">
        </div>

        <div *ngFor="let genre of genres" class="flex flex-col flex-wrap">
            <span (click)="selectGenre(genre.id, genre.name)" class="text-1xl cursor-pointer hover:text-yellow">{{
                genre.name }}</span>
        </div>
    </div>

</section>