<section class="flex flex-row justify-start mx-5 lg:mx-20">
    <h1 class="text-6xl text-yellow mx-4 my-4 lg:mx-14 lg:my-10 lg:mt-24">Movies</h1>
    <img src="../../../assets/arrow-down.svg" alt="More options" width="30" class="options-icon"
        (click)="toggleOptions()" *ngIf="isMobile" />

    <div class="flex flex-col items-start absolute top-40 bg-gray w-full text-2xl ml-4 lg:flex-row lg:justify-evenly lg:w-3/4 lg:top-28 lg:right-0 lg:bg-transparent z-10"
        *ngIf="showOptions || !isMobile">

        <button [ngClass]="menuOptionSelected === 'popular' ? 'text-yellow overline' : 'text-white'"
            (click)="selectKind('popular')">New & popular</button>

        <button [ngClass]="menuOptionSelected === 'upcoming' ? 'text-yellow overline' : 'text-white'"
            (click)="selectKind('upcoming')">Upcoming</button>

        <button [ngClass]="menuOptionSelected === 'top_rated' ? 'text-yellow overline' : 'text-white'"
            (click)="selectKind('top_rated')">Top Rated</button>

        <button [ngClass]="menuOptionSelected === undefined ? 'text-yellow overline' : 'text-white'"
            (click)="toggleGenresMenu()">Browse by genre</button>

    </div>

    <div class="hidden flex flex-col flex-wrap bg-gray text-lg absolute h-64 w-96 top-72 left-8 justify-start p-2 lg:w-96 lg:top-40 lg:left-2/3 border border-solid border-yellow z-10"
        [class.hidden]="!genresMenu">
        <div class="h-full p-1 cursor-pointer">
            <img src="../../../assets/close.svg" alt="Close" width="15" (click)="toggleGenresMenu()">
        </div>

        <div *ngFor="let genre of genres">
                <span class="text-1xl cursor-pointer hover:text-yellow"
                    (click)="selectGenre(genre.id, genre.name)">{{ genre.name }}</span>
        </div>
    </div>
</section>
