<section class="movies-component">
    <section class="title-options">
        <h1>Movies</h1>
        <img src="../../../assets/arrow-down.svg" alt="More options" width="30" class="options-icon"
            (click)="toggleOptions()"
            *ngIf="isMobile" />

        <div class="options-container" *ngIf="showOptions || !isMobile">
            <button [ngClass]="visibleMovies === 'popular' && !genresMenu ? 'active' : 'btn'" (click)="displayMovies('popular')">New & popular</button>
            <button [ngClass]="visibleMovies === 'genre' ? 'active' : 'btn'" (click)="toggleGenresMenu()">Browse by genre</button>
            <button [ngClass]="visibleMovies === 'top_rated' && !genresMenu ? 'active' : 'btn'" (click)="displayMovies('top_rated')">Top Rated</button>
            <button [ngClass]="visibleMovies === 'upcoming' && !genresMenu ? 'active' : 'btn'" (click)="displayMovies('upcoming')">Upcoming</button>
        </div>

        <div class="genres-menu" *ngIf="genresMenu">
            <div *ngFor="let genre of genreTitles">
                <div class="genres-titles">
                    <span (click)="filterByGenre(genre.id)">{{ genre.name }}</span>
                </div>
            </div>
        </div>
    </section>

    <section class="movies-container">
        <h2 *ngIf="visibleMovies !== 'genre'">{{ title }}<hr></h2>
        <h2 *ngIf="visibleMovies === 'genre'">{{ selectedGenreName }}<hr></h2>
        <div *ngFor="let movie of currentMovies" class="movies">
            <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" [alt]="movie.title" width="180" />
        </div>
    </section>
</section>