$yellow: #FFD369;
$white: #EEEEEE;
$gray: #333333;
$dark-gray: #151515;

$primary-font: 'Koulen', cursive;
$text-font: 'Montserrat', sans-serif;

.movies-component {
    height: auto;
    background-color: $gray;
    color: $white;
    font-family: $primary-font;

    .title-options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        width: 80vw;

        h1 {
            color: $yellow;
            font-size: 4rem;
            margin: 2rem 0 0 2rem;
        }

        .options-icon {
            margin: 2rem 0 0 2rem;
            cursor: pointer;
        }

        .options-container {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 11rem;
            left: 1.9rem;
            padding: 1rem;
            font-size: 2rem;
            background-color: $gray;
            border-bottom: 5px solid $yellow;
            border-right: 5px solid $yellow;
        }

    }

    .movies-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem;
    }

    .movies-posters {
        margin: 0.5rem;
    }
}

@media (min-width: 1280px) {
    .movies-component {
        .title-options {
            h1 {
                margin: 3rem 0 0 23rem;
            }

            .options-container {
                flex-direction: row;
                top: 12vh;
                left: 38vw;
                border-bottom: 0;
                border-right: 0;
                background: none;
                
                a {
                    margin-left: 5rem;
                }
            }
        }

        .movies-container {
            margin-left: 20rem;
            margin-right: 20rem;
        }
    }
}