<section class="h-[84vh] w-[100%] flex flex-col justify-start items-center p-10 lg:h-[92vh]">

    <picture class="flex flex-col items-center lg:mt-20">
        <source media="(max-width: 900px)" srcset="../../assets/logomobile.png" />
        <img src="../assets/mhlogo.png" alt="MotionHub Logo" width="800" height="auto" class="logo" />
    </picture>

    <span class="text-2xl p-2 text-center">Your Personal Movie Showcase and Library</span>

    <span class="text-2xl text-yellow mt-[8rem] lg:mt-[10rem]">Explore now</span>
    <div class="h-24 w-full flex flex-row justify-center items-center text-2xl">
        <a href="/movies" class="w-32 h-12 mx-2 p-2 bg-dark text-center hover:text-yellow">
            Movies
        </a>
        <a href="/tvshows" class="w-32 h-12 mx-2 p-2 bg-dark text-center hover:text-yellow">
            TV Shows
        </a>
    </div>
</section>
