<main>

    <picture>
        <source media="(max-width: 900px)" srcset="../../assets/logomobile.png">
        <img src="../../assets/mhlogo.png" alt="MotionHub Logo" width="auto" height="auto" class="logo" />
    </picture>

    <div class="redirect">
        <div class="redirect-buttons">
            <a href="/movies" class="movies">
                Movies
            </a>
        </div>
        <div class="redirect-buttons">
            <a href="/tvshows" class="links">
                TV Shows
            </a>
        </div>
    </div>

</main>