$yellow: #FFD369;
$white: #EEEEEE;
$gris: #393E46;
$dark-gris: #222831;

$primary-font: 'Koulen', cursive;
$text-font: 'Montserrat', sans-serif;

main {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../../assets/background-main.jpg');
    background-size: cover;
    background-position: center;

    .logo {
        max-width: 60%;
        height: auto;
        padding: 5rem;
        transition: max-width 0.3s;
    }

    .redirect {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .redirect-buttons {
        width: 10rem;
        height: 4rem;
        margin: 2rem;
        border: 1px solid $yellow;
        background-color: $dark-gris;
        text-align: center;
        transition: border 0.3s;

        &:hover {
            border-right: 5px solid $yellow;
            border-bottom: 5px solid $yellow;
        }
    }

    .links,
    .movies {
        font-family: $primary-font;
        font-size: 2rem;
        text-decoration: none;
    }
}

@media (min-width: 901px) {
    main {
        .redirect {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}