<nav class="bg-dark w-full h-20 flex items-center justify-between px-4 shadow">
  <a href="/home">
    <img width="40" alt="MotionHub Logo" src="../assets/mhicon.png" />
  </a>

  <div *ngIf="isSearchActive()" class="flex flex-row justify-around items-center w-full">

    <div class="flex flex-row justify-between bg-gray h-8 border border-solid border-yellow ml-4 p-1 lg:ml-10 lg:p-2 lg:w-96 lg:h-12">
      <input type="text" placeholder="Search..." class="search" [(ngModel)]="searchQuery" class="bg-gray lg:w-92" />
      <img src="../assets/search-icon.svg" alt="Seach icon" width="20" (click)="displaySearchResults()" />
    </div>

    <div class="px-2 cursor-pointer lg:hidden" (click)="toggleMenu()">
      <img *ngIf="!isMenuOpen" src="../assets/menu.svg" alt="Open menu" width="35" />
      <img *ngIf="isMenuOpen" src="../assets/close.svg" alt="Close menu" width="30">
    </div>

    <div class="hidden flex flex-col bg-dark font-koulen text-2xl lg:flex lg:flex-row">
      <a href="/home" class="hover:text-yellow duration-500 mx-6">Home</a>
      <a href="/movies" class="hover:text-yellow duration-500 mx-6">Movies</a>
      <a href="/tvshows" class="hover:text-yellow duration-500 mx-6">TV Shows</a>
      <a href="/login" class="font-koulen text-yellow hover:text-white duration-500 mx-6">Log In</a>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="flex flex-row justify-center items-center px-4">
  <span class="text-sm font-koulen text-dark mr-4">© MotionHub</span>
  <a href="https://github.com/AndressaSRodrigues" class="mr-4">
    <img src="../assets/github-icon.svg" alt="GitHub" width="30" />
  </a>
  <a href="https://www.linkedin.com/in/andressa-webdev/" class="mr-4">
    <img src="../assets/linkedin-icon.svg" alt="Linkedin" width="30" />
  </a>
</footer>