<nav class="navbar" role="banner">
  <a href="/home">
    <img width="40" alt="MotionHub Logo" src="../assets/mhicon.png" />
  </a>

  <div class="search-bar" *ngIf="isSearchActive()">
    <input
    type="text"
    placeholder="Search..."
    class="search"
    [(ngModel)]="searchQuery"
    />
    <img
    src="../assets/search-icon.svg"
    alt="Seach icon"
    width="20"
    (click)="displaySearchResults()"/>
  </div>

</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <span>© MotionHub</span>
  <a href="https://github.com/AndressaSRodrigues">
    <img src="../assets/github-icon.svg" alt="GitHub" width="30" />
  </a>
  <a href="https://www.linkedin.com/in/andressa-webdev/">
    <img src="../assets/linkedin-icon.svg" alt="Linkedin" width="30" />
  </a>
</footer>